@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

html, h1 {
    font-family: "JetBrains Mono", sans-serif;
    color: white;
}

main {
    padding: 32px;
}

a {
    color: #32c7ff;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: #aaa;
}

body {
    background-color: #161616;
}

[data="highlight"] {
    display: block;
    background: hsl(210, 7%, 25%);
    outline: 3px hsl(210, 7%, 25%);
    width: 100%;
}